<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bike Store Main</title>
    <!-- Bootstrap compiled and minified CSS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Welcome to Bike Store!</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(bikes)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Model</th>
                                <td>View</td>
                            </tr>
                            </thead>
                            <tr th:remove="all">
                                <td>123</td>
                                <td>Ivan Ivanov</td>
                                <td>Untitled</td>
                                <td>XXXX</td>
                                <td><a href="#">View</a></td>
                            </tr>
                            <tr th:each="bike : ${bikes}">
                                <td th:text="${bike.id}">11</td>
                                <td th:text="${bike.name}">Fedor Fedorov</td>
                                <td th:text="${bike.email}">Untitled 2</td>
                                <td th:text="${bike.phone}">Untitled 2</td>
                                <td th:text="${bike.model}">Untitled 2</td>
                                <td><a href="#" th:href="@{'/bike/' + ${bike.id}}">View</a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>